<h1>Bem vindo ao sistema!</h1>

<% if user_signed_in? %>
    <ul>
        <li><%= current_user.email %></li>
        <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
    </ul>
 
<% else %>
    <ul>
        <li><%= link_to "Cadastro de novo usuário.", new_user_registration_path %></li>

        <li><%= link_to "Logar", new_user_session_path %></li>
    </ul>
<% end %>

<ul>
    <li><%= link_to 'Cadastrar ambiente', '/ambientes/new' %></li>
    <li></li><%= link_to 'Meus ambientes', '/ambientes' %></li>
</ul>